{% extends "layout.html" %}
{% block title %}Naposteltuja{% endblock %}
{% block body %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% if plots | length > 0%}
<h2>Vedätyt naposteltavat luovutuksen yhteydessä</h2>

{% for plot in plots %}
{% set table = tables[loop.index0] %}

<table>
    <thead>
        <tr><th colspan="2">{{ plot.name }} napostellut</th></tr>
        <tr><th>määrä</th><th>naposteltava</th></tr>
    </thead>
    <tbody>
        {% for row in table %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="chart" id="plot-{{ plot.name }}">
    <script>
        const plot_by_{{ plot.name }} = {{ plot.data | safe }};
        const plot_by_{{ plot.name }}_conf = {{ plot.conf | safe }};
        Plotly.plot(
            "plot-{{ plot.name }}",
            plot_by_{{ plot.name }},
            plot_by_{{ plot.name }}_conf
        );
    </script>
</div>
{% endfor %}

{% else %}
<p>Ei ole vielä luovutuksia, joten ei kukaan vetänyt mitään</p>
{% endif %}

{% endblock %}