[Unit]
Description=python webapp for hy-tkt/tsoha
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
RestartSec=10
RuntimeMaxSec=1h
WorkingDirectory=%h/verenluovutus-sovellus
ExecStart=%h/verenluovutus-sovellus/main.sh

[Install]
WantedBy=default.target
