[dark-mode="true"] {
    --background: black;
    --color: white;
    --loader-bg: #2228;
    --loader-border: #343434;
    --loader-border-top: #0b2232;
}

div#btn-dark:hover,
div#btn-dark.active {
    text-shadow:
        0 0 5px purple,
        0 0 10px purple,
        0 0 15px darkslategray,
        0 0 20px darkslategray,
        0 0 25px darkblue,
        0 0 30px darkblue;
}