div.main-content>footer {
    z-index: 1;
    position: fixed;
    bottom: 5vh;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 3px solid red;
    box-shadow: 0 0 15px red,
        inset 0 0 5px red;
    padding: 20px 40px;
    border-radius: 50%;
    background: radial-gradient(var(--background), red);
}

div.main-content>footer>div:not(.popup) {
    transition: var(--delay);
    cursor: pointer;
    user-select: none;
    font-size: xx-large;
}

div.main-content>footer>div:hover:not(.popup) {
    scale: 1.25;
}

div.popup {
    position: fixed;
    z-index: 1;
    bottom: 20vh;
    background: var(--background);
    color: var(--color);
    border: 5px solid red;
    user-select: none;
    padding: 10px;
}