#btn-heart:hover,
#btn-heart.active {
    text-shadow:
        0 0 5px red,
        0 0 10px red,
        0 0 20px red;
}

div#btn-heart>sub {
    font-size: xx-small;
    color: var(--color);
}

#btn-heart.beating {
    animation: heartbeat 1s;
}

#btn-heart.fibrillating {
    animation: shake 1s infinite;
    scale: 2.0;
    transform-origin: 15% 50%;
    text-shadow:
        0 0 5px red,
        0 0 10px red,
        0 0 20px red,
        0 0 30px var(--color),
        0 0 60px var(--color),
        0 0 90px var(--color);
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.5);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.5);
    }

    80% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}