:root {
    --background: white;
    --color: black;
    --loader-bg: #ccc8;
    --loader-border: #ddd;
    --loader-border-top: #3498db;
    --delay: 300ms;
    --rot: 90deg;
}

body {
    background: var(--background);
    color: var(--color);
}

div.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

body footer {
    position: fixed;
    bottom: 10px;
    /* otherwise would be transparent */
    /*background: var(--background);
    color: var(--color);*/
    display: flex;
    align-items: center;
    gap: 20px;

    border: 5px solid red;

    box-shadow: 0 0 10px red,
        inset 0 0 10px red;
    padding: 10px 30px;
    border-radius: 50%;
    background: var(--background);
}

body footer>div {
    transition: var(--delay);
    cursor: pointer;
    user-select: none;
    font-size: xx-large;
}

body footer>div:hover {
    scale: 1.25;
}

form.flex,
div#comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

div#comments {
    width: 50vw;
    min-width: 20vw;
}

div.chart {
    width: 100%;
}