{% extends "layout.html" %}
{% block title %}Kertomukset{% endblock %}
{% block body %}
{% if comments | length > 0 %}
<div id="comments">
    {% for row in comments %}
    <br>
    <figure>
        {{ row.d }}, {{ row.cl }}:
        <blockquote>
            <p>{{ row.qt | safe }}</p>
        </blockquote>
        <figcaption>
            <cite>
                - {{ row.fn }}. {{ row.ln }}.
            </cite>
        </figcaption>
    </figure>
    {% endfor %}
</div>
{% else %}
<p>Ei ole vielä kertomuksia järjestelmässä</p>
{% endif %}

{% endblock %}