{% extends "layout.html" %}
{% block title %}Luovutus{% endblock %}
{% block body %}
<form action="/donate" method="post">
    <div>
        <label for="date">Koska luovutit?</label>
        <input id="date" type="date" name="date" required value="{{today}}" max="{{today}}">
    </div>
    <div>
        <p>Missä luovutit?</p>
        {% for clinic in clinics %}
        <input id="clinic-{{clinic.0}}" type="radio" name="clinic" value="{{clinic.0}}" required>
        <label for="clinic-{{clinic.0}}">{{clinic.1}}</label>
        <br>
        {% endfor %}
    </div>
    <div>
        <p>Merkkaa alla mitkä kaikkea olet vetänyt luovutuksen jälkeen:</p>
        {% for consumable in consumables %}
        <input id="consumable-{{consumable.0}}" type="number" min="0" name="consumables" value="0" style="width: 50px;">
        <label for="consumable-{{consumable.0}}">{{consumable.1}}</label>
        <br>
        {% endfor %}
    </div>
    <div>
        <p>
            Oliko <i><span class="easter-egg" title="haha EasterEgg">huimaavasti</span> erikoinen</i> kokemus?
            <span id="feedback"></span>
        </p>
        <textarea maxlength="5000" name="comment" style="width: 50vw; min-width: 250px;" title="enintään 5000 merkkiä"
            placeholder="Houkuttele lisää luovuttajia kokemuksesi kertomuksella!"></textarea>
        <p>Kommentisi perään näytetään nimesi alkukirjaimet ja luovutuspaikan.</p>
    </div>
    <p></p>
    <input type="hidden" name="csrf" value="{{ session.user.csrf }}">
    <input type="submit" value="Luovutin!">
</form>
<script src="static/donation.js"></script>
{% endblock %}