{% extends "layout.html" %}
{% block title %}Virhe{% endblock %}
{% block body %}
<h1>Hupsista, {{ operation | default('jokin') }} meni pieleen...</h1>
<p>{{ err }}</p>
{% if retry %}
<a href="{{ retry }}">Yritä uudelleen</a>
<a hidden id="escape" href="{{ retry }}">Kyllä riittää, kiitos!</a>
{% endif %}
{% endblock %}

{% block script %}
<script>
    document.addEventListener('click', (ev) => {
        
        if (ev.target.tagName !== 'A' || ev.target.id === 'escape') return;

        ev.preventDefault();
        Fun.rick.roll(true, document.querySelector('a#escape'));
    });
</script>
{% endblock %}
