{% extends "layout.html" %}
{% block title %}Virhe{% endblock %}
{% block body %}
<h2>Hupsista, {{ operation | default('jokin') }} meni pieleen...</h2>
<p>{{ err }}</p>
{% if retry %}
<a id="escape" href="{{ retry }}">Yritä uudelleen</a>
{% endif %}
{% endblock %}

{% block script %}
<script>
    document.addEventListener('click', (ev) => {
        
        if (ev.target.tagName !== 'A' || ev.target._rolled_already) return;

        ev.preventDefault();
        Fun.rick.roll(true, ev.target);
    });
</script>
{% endblock %}
