{% extends "layout.html" %}
{% block title %}Veripalvelu{% endblock %}
{% block body %}
<p>
    Tämä sivusto ei ole yhteyksissä Punaisen Ristin Veripalvelun kanssa.
    Jos on herännyt kiinnostus luovutuksen suhteen, varaa aika
    <a href="https://www.veripalvelu.fi/ajanvaraus/">SPR:n kautta</a>.
</p>
<hr>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% if session.user %}
Tervetuloa, {{ session.user.fnames }}! Veriryhmäsi on {{ session.user.blood_type }}
<h2>Omat luovutukset</h2>
{% if plots[3] %}
<div class="chart" id="own-donations">
    <script>
        const plot_own = {{ plots[3].data | safe }};
        const plot_own_conf = {{ plots[3].conf | safe }};
        Plotly.plot('own-donations', plot_own, plot_own_conf);
    </script>
</div>
{% else %}
<p>Et ole vielä luovuttanut, tervetuloa <a href="donate">luovuttamaan</a>!</p>
{% endif %}
{% endif %}

<h2>Kaikki luovutukset järjestelmässä</h2>
{% if plots | length > 0 %}
<p>
    Alla kaaviot esittävät luovuttajien jakautumaa sekä luovutuspaikkojen, että veriryhmän perusteella.
    Kutsu mukaan kunnon porukka luovutukseen!
</p>

{% for i in range(3) %}
{% set plot = plots[i] %}
<div class="chart" id="all-by-{{ plot.name }}">
    <script>
        const plot_by_{{ plot.name }} = { { plot.data | safe } };
        const plot_by_{{ plot.name }}_conf = {{ plot.conf | safe }};
        Plotly.plot(
            "all-by-{{ plot.name }}",
            plot_by_{{ plot.name }},
            plot_by_{{ plot.name }}_conf
        );
    </script>
</div>
{% endfor %}
{% else %}
<p>Ei ole vielä kappalettakaan rekisteröityä luovutusta</p>
{% endif %}



{% endblock %}