<!DOCTYPE html>
<html lang="fi">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🩸</text></svg>">
</head>

<body>
    <nav>
        <a href="/about">Lisätiedot</a>
        <a href="/clinics">Luovutuspaikat</a>
        {% if session.user %}
        <a href="/logout">Kirjaudu ulos</a>
        {% endif %}
    </nav>
    <h1>Verenluovutus-sovellus</h1>
    <hr>
    {% block body %}{% endblock %}
</body>

</html>