<!DOCTYPE html>
<html lang="fi">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🩸</text></svg>">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/footer.css">
    <link rel="stylesheet" href="static/dark-mode.css">
    <link rel="stylesheet" href="static/fun-mode.css">
    <link rel="stylesheet" href="static/heart.css">
    <link rel="stylesheet" href="static/loader.css">
    <link rel="stylesheet" href="static/navbar.css">
    <script src="static/dark-mode.js"></script>
</head>

<body>
    <script src="static/loader.js"></script>
    
    <nav>
        <a href="/">Luovutuksia</a>
        <a href="/comments">Kertomuksia</a>
        <a href="/consumption">Naposteltuja</a>
        {% if session.user %}
        <a href="/donate">Rekisteröi luovutus</a>
        <a class="auth" href="/logout">Kirjaudu ulos</a>
        {% else %}
        <a class="auth" href="/register">Rekisteröi</a>
        <a class="auth" href="/login">Kirjaudu sisään</a>
        {% endif %}
    </nav>
    <script src="static/navbar.js"></script>

    <div class="main-content">
        <h1>Verenluovutus-sovellus</h1>
        {% block body %}{% endblock %}
        <footer>
            <!-- title not showing in phones -->
            <div class="popup" hidden></div>
            <div id="btn-heart">
                ❤️
                <sub hidden></sub>
            </div>
            <div id="btn-fun">
                🥳
                <sub hidden></sub>
            </div>
            <div id="btn-dark" title="en kommentoi">🌗</div>
        </footer>
    </div>
</body>

<script src="static/footer.js"></script>
<script src="static/fun-mode.js"></script>
<script src="static/heart.js"></script>
{% block script %}{% endblock %}


</html>