{% extends "layout.html" %}
{% block title %}Rekisteröinti{% endblock %}
{% block body %}
<form method="post">
    <div>
        <label for="names">nimesi:</label>
        <input id="names" name="names" placeholder="Sukunimet, Etunimet" required pattern="^.{1,100} *, *.{1,100}$"
            title="vähintään 1, enintäan 100 merkkiä sekä suku-, että etunimelle">
    </div>
    <div>
        <label for="username">käyttäjätunnus:</label>
        <input id="username" name="username" placeholder="luovuttaja123" required pattern="^[a-zA-Z][A-Za-z0-9]{2,15}$"
            title="alkaa kirjaimella enkun aakkosesta, vähintään 3, enintään 16 pitkää">
    </div>
    <div>
        <label for="password">salasana:</label>
        <input id="password" name="password" type="password" required placeholder="********" pattern="^.{8,}$"
            title="vähintään 8 merkkiä, ei ylärajaa">
    </div>
    <div>
        <label for="pw-verify">vahvista:</label>
        <input id="pw-verify" name="pw-verify" type="password" required placeholder="********" pattern="^.{8,}$"
            title="täsmälleen sama kuin yllä">
    </div>
    <div>
        <label for="gender">sukupuoli:</label>
        <select required id="gender" name="gender">
            <option disabled selected value="">valitse yksi</option>
            <option value="0">nainen</option>
            <option value="1">mies</option>
        </select>
    </div>
    <div>
        <label for="blood-type">veryryhmä:</label>
        <select id="blood-type" name="blood-type" required>
            <option disabled selected value="">valitse yksi</option>
            {% for type in blood_types %}
            <option value="{{loop.index0}}">{{type}}</option>
            {% endfor %}
        </select>
    </div>
    <input type="submit" value="Rekisteröi">
</form>
<script>
    document.addEventListener('submit', e => {
        const [pw, pw2] = document.querySelectorAll('input[type=password]');
        if (pw.value !== pw2.value) {
            e.preventDefault();
            alert('salasanat eroavat');
        }
    })
</script>
{% endblock %}